:root {
  --accent-color: hsl(150, 100%, 66%);
  --text-color: hsl(193, 38%, 86%);
  --bg-color: hsl(218, 23%, 16%);
  --card-color: hsl(217, 19%, 24%);
  --divider-color: hsl(217, 19%, 38%);

  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 800;

  /* TODO: WTF is this? */
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px; */
  min-height: 100vh;
}

#app {
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  /* border: 1px solid red; */
}

button {
  border: none;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
